<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employe Creation</title>
</head>
<body >
<div layout:fragment="content" >


  <form th:action="@{saveEmploye}" method="post">
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="nom">Nom</label>
          <input type="text" id="nom" name="nom" class="form-control" />

        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="prenom">Prenom</label>
          <input type="text" id="prenom" name="prenom" class="form-control" />

        </div>
      </div>
    </div>

    <!-- Text input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="poste">Poste</label>
      <input type="text" id="poste" name="poste" class="form-control" />

    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="departement">Departement</label>
      <input type="text" id="departement" name="departement" class="form-control" />

    </div>

    <div class="md-form col-md-6">
      <label for="dateEmbauche" class="form-label">Date Embauche</label>
      <input type="date" id="dateEmbauche" name="date_embauche" value="${now}" class="form-control datepicker">
    </div>
  <div>
    <button data-mdb-ripple-init type="submit" value="Save" class="btn btn-primary btn-floating mx-1">Save</button>
  </div>

  </form>
</div>

</body>
</html>