<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<div layout:fragment="content" >
<h2>Create User</h2>
<form th:action="@{saveUser}" method="post">
    <div>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
    </div>
    <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
    </div>
    <div>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
    </div>
    <div class="form-group">
        <label for="role" class="form-label">Role:</label><br>
        <select id="role" name="role" class="form-control">
            <option th:each="role : ${rolesView}" th:value="${role.nom}" th:text="${role.nom}"></option>
        </select><br>
    </div>
    <button type="submit" value="Save" class="btn btn-primary btn-floating mx-1">Create User</button>
</form>
</div>
</body>
</html>
