<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Employees List</title>
</head>
<body>
<div layout:fragment="content" >



    <table class="table table-striped" >
        <thead>
        <tr>
            <th scope="col">Employee Id</th><th scope="col">Employee Name</th><th scope="col">Employee FirstName</th><th scope="col">Departement</th><th scope="col"> Poste </th><th scope="col">Date Embauche</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employe:${employesJsp.content}">
            <td th:text="${employe.employeId}"></td>
            <td th:text="${employe.nom}"></td>
            <td th:text="${employe.prenom}"></td>
            <td th:text="${employe.departement}"></td>
            <td th:text="${employe.poste}"></td>
            <td th:text="${employe.date_embauche}"></td>
<!--            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}"-->
            <td><a onclick="return confirm('Are you sure to delete this employe ?')"
                   th:href="@{deleteEmploye(id=${employe.employeId},
                   page=${currentPage},
                   size=${size}
                   )}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li th:each="page,status:${pages}">
            <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
               th:href="@{employesList(page=${status.index},size=${size})}"
               th:text="${status.index}"></a>
        </li>
    </ul>

</div>
</body>
</html>
