<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des demandes de congé</title>
</head>
<body>
<h1>Liste des demandes de congé</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Employé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Statut</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="conge : ${demandesConge}">
        <td th:text="${conge.id}"></td>
        <td th:text="${conge.employe.nom}"></td>
        <td th:text="${conge.dateDebut}"></td>
        <td th:text="${conge.dateFin}"></td>
        <td th:text="${conge.statuts}"></td>
        <td>

            <form th:action="@{/approuverConge}" method="post">
                <input type="hidden" th:name="congeId" th:value="${conge.id}">
                <button type="submit">Approuver</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
